.signup{
    height: 100vh;
    display: flex;
    width: 100vw;
    
   
   
   
}
.art{
   width: 60vw;
   height: 100vh;
   background-color: #17A2B8;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color: #17A2B8;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.form{
    padding: 40px;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.form h1{

    font-family: 'Poppins', sans-serif;
    color: #17A2B8;
    
}
.form input{
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 100%;
    padding: 18px 35px;
    margin: 8px 0;
    
}
.form input:hover{
    border: 1px solid #17A2B8;
}
.form button{

    background-color: #17A2B8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 100%;
    
}

.form button:hover{
    border: 1px solid black;
    font-size: large;
}
.form .btn2{
    background-color: transparent;
    border: 1px solid #17A2B8;
    color: #17A2B8;
   
    border-color: black;
}



.form h4{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #17A2B8;
}


.passwordBox {
  position: relative;
  width: 100%;
}

.passwordBox input {
  width: 100%;
  padding-right: 40px;
}

.passwordBox span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputBox {
  position: relative;
  width: 100%;
}

.inputBox input {
  width: 100%;
  padding-right: 40px;
}

.inputBox span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.passwordBox .icon{

    position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}